body{
      margin: 5px;
}

span{
    color: orange;
}

.stay-focused{
    font-size: 80px;
    border: solid white;
    border-left-color: orange;
    padding: 10px 8px;
}
.middle-header{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.explore{
    text-decoration: none;
    background-image: linear-gradient(orange ,yellow);
    border-radius: 5px;
    padding: 12px 10px;
    font-weight: 700;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 50%;
    margin-top: 10px;
}
.half-width-middle{
    width: 33%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    
}
.mission{
    background-color:rosybrown;
    width: 30%;
    

}
.vision{
    background-color:salmon;
    width: 30%;
    
}
.goal{
    background-color:sandybrown;
    width: 30%;
    
}

.flexible-container{
    display: flex;
    padding: 70px 70px;
}

.illustrators{
    height: 150px;
    width:  150px;
    padding-top: 15px;
}
.develop-part{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
.contact-part{
    display: flex;
    text-align: center;
    background-color: wheat;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px;
    
    
}
.form{
  color: black;
  opacity: 1;  
  padding-bottom: 10px;
}


#footer{
    background-color: black;
    height: 80px;
    padding: 10px;
      
}
#contact{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
footer p{
    
    text-align: center;
    color: white;
}
